body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
    background-color:#fce1db;
}
p{
    color:black;

}
input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #482917;
    margin-bottom: 4px;
}
.green-text {
     color: #482917;
     
}
h1{
    color:#482917;
}
.black {
    color: black;
    font-weight: bold;
}
button {
    background: #bae6a8;
    color: #482917;
    padding: 10px 20px;
    border: 1px solid #bae6a8;
    font-weight: bold;
}

#delete-btn {
    background:#bae6a8;
    color: #482917;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}



h2 {
    text-align: right;
    margin-right: 350px;
}

.container {
    display:flex;
    align-items: center;
}

a {
text-decoration: none;
font-size: 20px;
font-weight: bold;

}
a:link{
    color: #482917;
}
a:visited{
    color: #482917;
}
/* .delete-btn-list{ }*/
    


