body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
    background-color:#eff0ed;
    color: #0b2b44;
}
p{
    color:#0b2b44;

}
input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #0b2b44;
    margin-bottom: 4px;
}
.green-text {
     color: #0b2b44;
     
}
h1{
    color:#0b2b44;
    text-align: center;
}
.black {
    color: #0b2b44;
    font-weight: bold;
}
button {
    background: #3d9cb1;
    color: #0b2b44;
    padding: 10px 20px;
    border: 1px solid #3d9cb1;
    font-weight: bold;
}

#delete-btn {
    background:#3d9cb1;
    color: #0b2b44;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}



h2 {
    text-align: right;
    margin-right: 350px;
}

.container {
    display:flex;
    align-items: center;
    align-content:space-between;
}

.list {
text-decoration: none;
font-size: 20px;
font-weight: bold;

}
.list:link{
    color: #3d9cb1;
}
.list:visited{
    color: #3d9cb1;
}
/* .delete-btn-list{ }*/
a {
    text-decoration: none;
    color:#3d9cb1;
    font-weight: bold;
}

.delbtn {
    color: red;
    background-color:white;
    float:right;
    margin-left:auto;
    padding:5px 10px;
}
.header{
    text-align:center;
}


